.article-content > h3 {
    border-inline-start: none;
}

.article-preview {
    font-family: var(--article-font-family);
    font-size: var(--article-font-size);
    line-height: var(--article-line-height);
    color: var(--card-text-color-main);

    & p {
        margin-bottom: 0;
        
        &> a.article-more-link {
            display: block;
            padding-top: 2rem;
            text-align: right;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.left-sidebar {
    --sidebar-avatar-size: 160px;
}

.site-logo {
    border: solid 3px green;
}

:root {
    &[data-scheme="light"] {
        --body-text-color: #000;
    }
}
